/* Root */
:root {
  --main: #fe0707;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in;
  border: none;
  outline: none;
}

*::selection {
  background: var(--main);
  color: #fff;
}